@model Eshop.ViewModel.RegisterViewModel
@{
    ViewData["Title"] = "Thêm";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="row-cols-lg-2" style="margin: 20px;">
    <form asp-area="Admin" asp-controller="Accounts" asp-action="Create" method="post" enctype="multipart/form-data">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label asp-for="Username" class="control-label"></label>
                <input asp-for="Username" class="form-control" required />
                <span asp-validation-for="Username" class="text-danger"></span>
            </div>
            <div class="form-group col-md-6">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" required />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group col-md-6">
                <label asp-for="FullName" class="control-label"></label>
                <input asp-for="FullName" class="form-control" required />
                <span asp-validation-for="FullName" class="text-danger"></span>
            </div>
            <div class="form-group col-md-6">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" required>
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group col-md-6">
                <label asp-for="Phone" class="control-label"></label>
                <input asp-for="Phone" class="form-control" required>
                <span asp-validation-for="Phone" class="text-danger"></span>
            </div>
            <div class="form-group col-md-6">
                <label asp-for="Address" class="control-label"></label>
                <input asp-for="Address" class="form-control" required />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>

            <div class="form-group col-md-6">
                <div class="switch m-r-10">
                    <input type="checkbox" asp-for="Status" checked="" />
                    <label for="IsActived"></label>
                </div>
                <label>Hoạt động</label>
            </div>

            <div class="form-group col-md-6">
                <div class="switch m-r-10">
                    <input type="checkbox" asp-for="IsAdmin" checked="" />
                    <label for="IsAdmin"></label>
                </div>
                <label>Is Admin?</label>
            </div>
        </div>

        <div class="form-group">
            <label asp-for="Avatar" class="control-label"></label>
            <input type="file" name="fAvatar" asp-for="Avatar" class="form-control-file" />
            <span asp-validation-for="Avatar" class="text-danger"></span>
        </div>
        <hr />
        <div class="form-group">
            <a asp-action="Index" class="btn btn-outline-danger" style="margin-right:20px;">Back to List</a>
            <input type="submit" value="Create" class="btn btn-primary" />
        </div>
    </form>
</div>